html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*----------COLORS----------*/
/*----------HEADER----------*/
/*----------REUSABLES----------*/
body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  max-width: 50em;
  margin: 0 auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 925px) {
    body {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 768px) {
    body {
      padding-left: 10px;
      padding-right: 10px; } }

.container::after {
  clear: both;
  content: "";
  display: table; }

ul {
  list-style-type: none;
  padding: 0;
  border: 0;
  margin: 0; }

ul li {
  padding: 0;
  border: 0;
  margin: 0; }

header {
  vertical-align: middle;
  line-height: 50px; }
  header::after {
    clear: both;
    content: "";
    display: table; }

.subscribe {
  margin-left: 50.43209%;
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 15.94652%;
  font-size: .82rem;
  text-transform: uppercase;
  text-decoration: none;
  color: lightgrey;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px; }
  .subscribe:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .subscribe {
      margin-left: 2.5216%;
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 40.98308%;
      font-size: 1rem; }
      .subscribe:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .subscribe {
      visibility: hidden;
      position: absolute; } }

.nav-dots {
  text-align: right;
  padding-top: 4%;
  vertical-align: middle;
  line-height: 50px; }
  @media screen and (max-width: 480px) {
    .nav-dots {
      visibility: hidden;
      position: absolute; } }

.nav-dot {
  display: block;
  line-height: 7px;
  color: lightgrey;
  vertical-align: middle; }

.social-icons {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 32.75721%;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px; }
  .social-icons:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .social-icons {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 48.68094%; }
      .social-icons:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .social-icons {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%; }
      .social-icons:last-child {
        margin-right: 0; } }

.social-icon {
  float: left;
  display: block;
  margin-right: 2.09943%;
  width: 18.32046%;
  vertical-align: middle;
  line-height: 50px;
  position: relative; }
  .social-icon:last-child {
    margin-right: 0; }

.social-icon-img {
  width: 100%;
  width: 100%;
  vertical-align: middle;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3);
  position: relative;
  background: grey; }
  @media screen and (max-width: 768px) {
    .social-icon-img {
      max-height: 40px;
      max-width: 40px; } }

.top-nav::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (max-width: 768px) {
  .top-nav-links::after {
    clear: both;
    content: "";
    display: table; } }

.top-nav-link {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 24.35187%;
  display: inline-block;
  background-color: #b5302e;
  color: white;
  padding: 4px 10px;
  text-align: center;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3);
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none; }
  .top-nav-link:last-child {
    margin-right: 0; }
  .top-nav-link::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .top-nav-link {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 48.68094%; }
      .top-nav-link:last-child {
        margin-right: 0; }
      .top-nav-link:nth-child(2n) {
        margin-right: 0; }
      .top-nav-link:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 480px) {
    .top-nav-link {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      margin-bottom: 0; }
      .top-nav-link:last-child {
        margin-right: 0; } }

.banner {
  background: url(../img/top-image.png);
  background-size: cover;
  display: block;
  height: 250px;
  line-height: 250px;
  width: 100%;
  border: 7px solid white;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  .banner::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .banner {
      height: 200px;
      line-height: 200px; } }

.overlay {
  position: absolute;
  opacity: .25; }

.banner-logo {
  position: relative;
  height: 175px;
  padding-left: 15px;
  vertical-align: middle; }
  @media screen and (max-width: 768px) {
    .banner-logo {
      height: 100px; } }

.banner-buttons {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center; }
  .banner-buttons:last-child {
    margin-right: 0; }

.articles {
  line-height: 1rem;
  margin-top: 10px; }
  .articles::after {
    clear: both;
    content: "";
    display: table; }

.article {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 32.75721%;
  background: white;
  padding: 20px;
  position: relative;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  .article:last-child {
    margin-right: 0; }
  .article::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .article {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 180px;
      margin-bottom: 10px; }
      .article:last-child {
        margin-right: 0; } }

.article-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  line-height: 1rem; }

.article-date {
  margin: 0;
  line-height: 3rem; }

.article-text {
  margin: 0;
  font-size: .65rem;
  line-height: 1rem; }

.article-wrapper {
  height: 255px;
  overflow: hidden; }
  .article-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .article-wrapper {
      height: 125px; } }

.read-more-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #b5302e;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: bold;
  padding-top: 10px; }

.side-pointer {
  width: 160px;
  height: 50px;
  text-transform: uppercase;
  background: #b5302e;
  color: white;
  position: absolute;
  top: 100px;
  left: -172px;
  padding: 10px;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  @media screen and (max-width: 1150px) {
    .side-pointer {
      height: 200px;
      width: 50px;
      left: -62px;
      top: 33px; } }
  @media screen and (max-width: 925px) {
    .side-pointer {
      position: static;
      height: 50px;
      margin-left: 16.8107%;
      float: left;
      display: block;
      margin-right: 0.86418%;
      width: 66.37861%;
      margin-top: 10px;
      margin-bottom: -20px;
      text-align: center;
      font-weight: bolder;
      letter-spacing: 1rem; }
      .side-pointer:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .side-pointer {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      width: 100%; }
      .side-pointer:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .side-pointer {
      letter-spacing: normal; } }

.side-pointer-triangle {
  height: 0;
  width: 0;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #b5302e;
  border-top: 25px solid transparent;
  position: absolute;
  top: 100px;
  left: -12px; }
  @media screen and (max-width: 1150px) {
    .side-pointer-triangle {
      height: 0;
      width: 0;
      border-bottom: 100px solid transparent;
      border-left: 10px solid #b5302e;
      border-top: 100px solid transparent;
      top: 33px; } }
  @media screen and (max-width: 925px) {
    .side-pointer-triangle {
      visibility: hidden; } }

.side-pointer-triangle-shadow {
  height: 0;
  width: 0;
  border-bottom: 25px solid transparent;
  border-left: 10px solid rgba(250, 250, 250, 0.3);
  border-top: 25px solid transparent;
  position: absolute;
  top: 103px;
  left: -12px; }
  @media screen and (max-width: 1150px) {
    .side-pointer-triangle-shadow {
      height: 0;
      width: 0;
      border-bottom: 100px solid transparent;
      border-left: 10px solid rgba(250, 250, 250, 0.3);
      border-top: 100px solid transparent;
      top: 36px; } }
  @media screen and (max-width: 925px) {
    .side-pointer-triangle-shadow {
      visibility: hidden; } }

.side-pointer-text {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle; }
  @media screen and (max-width: 1150px) {
    .side-pointer-text {
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: right, top;
      position: absolute;
      left: -45px;
      top: 80px; } }
  @media screen and (max-width: 925px) {
    .side-pointer-text {
      -webkit-transform: none;
      position: static; } }

.skateboarders {
  position: relative; }
  .skateboarders::after {
    clear: both;
    content: "";
    display: table; }

.skateboarder-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  @media screen and (max-width: 480px) {
    .skateboarder-text {
      padding-top: 15px;
      top: 0%;
      transform: translateY(0); } }

.skateboarder-block-one {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 66.37861%;
  margin-top: 30px;
  line-height: 207px;
  vertical-align: middle; }
  .skateboarder-block-one:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .skateboarder-block-one {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%; }
      .skateboarder-block-one:last-child {
        margin-right: 0; } }

.skateboarder {
  border: 4px solid white;
  color: white; }

.another-block {
  float: left;
  display: block;
  margin-right: 1.30189%;
  width: 100%;
  margin-bottom: .3em; }
  .another-block:last-child {
    margin-right: 0; }

.skateboarder-one {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 1.30189%;
  width: 49.34905%;
  height: 207px;
  background: url(../img/sk8er-4.png);
  background-size: cover;
  background-position: top right;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  .skateboarder-one:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .skateboarder-one {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 140px;
      background-position: center; }
      .skateboarder-one:last-child {
        margin-right: 0; } }

.skateboarder-two {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 1.30189%;
  width: 49.34905%;
  height: 207px;
  background: url(../img/sk8er-3.png);
  background-size: cover;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  .skateboarder-two:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .skateboarder-two {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 140px; }
      .skateboarder-two:last-child {
        margin-right: 0; } }

.skateboarder-three {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 1.30189%;
  width: 100%;
  height: 208px;
  background: url(../img/sk8er-1.png);
  background-size: cover;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  .skateboarder-three:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .skateboarder-three {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 140px; }
      .skateboarder-three:last-child {
        margin-right: 0; } }

.skateboarder-block-two {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 32.75721%;
  margin-top: 31px; }
  .skateboarder-block-two:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .skateboarder-block-two {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      margin-top: .3em;
      height: 140px; }
      .skateboarder-block-two:last-child {
        margin-right: 0; } }

.skateboarder-four {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 2.63813%;
  width: 100%;
  height: 419px;
  line-height: 419px;
  vertical-align: middle;
  background: url(../img/sk8er-2.png);
  background-size: cover;
  background-position: top right;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  .skateboarder-four:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .skateboarder-four {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      margin-top: .3em;
      height: 140px; }
      .skateboarder-four:last-child {
        margin-right: 0; } }

.skateboards-list {
  width: 100%; }

.skateboards {
  display: inline-block;
  width: 100%;
  background: white;
  padding: 10px;
  margin-top: 17px;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3);
  margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    .skateboards {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%; }
      .skateboards:last-child {
        margin-right: 0; } }

.skateboard {
  float: left;
  display: block;
  margin-right: 1.03881%;
  width: 9.06507%;
  display: inline-block;
  text-align: center; }
  .skateboard:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .skateboard {
      float: left;
      display: block;
      margin-right: 2.09943%;
      width: 18.32046%;
      height: 280px; }
      .skateboard:last-child {
        margin-right: 0; }
      .skateboard:nth-child(5n) {
        margin-right: 0; }
      .skateboard:nth-child(5n+1) {
        clear: left; } }
  @media screen and (max-width: 480px) {
    .skateboard {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 23.0214%; }
      .skateboard:last-child {
        margin-right: 0; }
      .skateboard:nth-child(4n) {
        margin-right: 0; }
      .skateboard:nth-child(4n+1) {
        clear: left; } }

.contact {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0 3px rgba(250, 250, 250, 0.3); }
  .contact:last-child {
    margin-right: 0; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }

.contact-info {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 53.77059%; }
  .contact-info:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .contact-info {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%; }
      .contact-info:last-child {
        margin-right: 0; } }

form {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 45.36524%; }
  form:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    form {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%; }
      form:last-child {
        margin-right: 0; } }

.contact-title {
  margin-bottom: 10px; }

.contact-text {
  line-height: 1.3rem; }

.contact-email,
.contact-name,
textarea.contact-message {
  float: left;
  display: block;
  margin-right: 1.90493%;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 3px solid #b2b2b2;
  border-left: 3px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2; }
  .contact-email:last-child,
  .contact-name:last-child,
  textarea.contact-message:last-child {
    margin-right: 0; }

textarea.contact-message {
  height: 100px;
  resize: none; }

.submit-button {
  text-align: right;
  background: #b5302e;
  border: none;
  color: white;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  float: right;
  margin-top: 10px; }

img.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.social-contact-icons {
  display: inline-block;
  margin-top: 10px; }
  @media screen and (max-width: 768px) {
    .social-contact-icons {
      margin-bottom: 20px; } }

.social-contact-icon {
  float: left;
  display: block;
  margin-right: 0.69015%;
  width: 6.02253%;
  display: inline-block; }
  .social-contact-icon:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .social-contact-icon {
      float: left;
      display: block;
      margin-right: 0.51672%;
      width: 4.50912%; }
      .social-contact-icon:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .social-contact-icon {
      float: left;
      display: block;
      margin-right: 1.03881%;
      width: 9.06507%; }
      .social-contact-icon:last-child {
        margin-right: 0; } }

.social-contact-icon-img {
  float: left;
  display: block;
  margin-right: 11.45946%;
  width: 100%;
  display: inline-block; }
  .social-contact-icon-img:last-child {
    margin-right: 0; }
